.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(255, 255, 255);
    margin: 15px 170px;
    border-radius: 50px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-logo {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-logo img {
    height: 85px;
}

.navbar .navbar-menu {
    flex-basis: 80%;
}

.navbar .navbar-menu ul {
    display: flex;
    align-items: end;
    justify-content: end;
    list-style-type: none;
    margin: 50px;
    gap: 20px;
    
}

.navbar .navbar-menu ul li #navLink {
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    border-radius: 6px;
    padding: 8px 8px;
}

.navbar .navbar-menu ul li #navLink:hover{
    background-color: #67e5fb;
}